
@model nuce.web.survey.student.Models.LoginModel

@{
    var loginAction = "/account/login";
    if (Model.Type == "GraduateStudent")
    {
        loginAction = "/account/logingraduate";
    }
}

@*@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        @if (Model.Type == "Student")
        {
            <span>Khảo sát phản hồi của sv về hoạt động giảng dạy của gv</span>
        }
        else if (Model.Type == "UndergraduateStudent")
        {
            <span>Khảo sát phản hồi của sv về chất lượng đào tạo trước tốt nghiệp</span>
        }
        else if (Model.Type == "GraduateStudent")
        {
            loginAction = "/account/logingraduate";
            <span>Khảo sát tình hình việc làm sv sau tốt nghiệp</span>
        }
    </li>
}*@

<section id="body" class="login-form">
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6 col-12 mt-0 d-flex">
                <div class="card w-100 m-box-shadow-right-bottom">
                    <h5 class="card-header">Đăng nhập</h5>
                    <div class="card-body">
                        <form method="post" action="@loginAction" class="pb-2">
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-1">
                                <label for="username" class="w-100">Tên đăng nhập</label>
                                @Html.TextBoxFor(m => m.Username, new { @placeholder = "Mã số sinh viên", @class = "form-control custom-input" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "form-text", @style = "color: #F70000; height: 24px" })
                            </div>
                            <div class="form-group mb-2">
                                <label for="password" class="w-100">Mật khẩu</label>
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "Mật khẩu", @class = "form-control custom-input" })
                                <span class="form-text" style="color: #F70000;">@ViewData["LoginMessage"]</span>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-text", @style = "color: #F70000; height: 24px" })
                            </div>
                            <button type="submit" class="btn m-bg-blue text-light w-100">
                                Đăng nhập
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mt-md-0 mt-2">
                <div class="card w-100 m-box-shadow-right-bottom">
                    <h5 class="card-header">Chú ý</h5>
                    <div class="card-body">
                        <div id="login-ks-notice">
                            * Tên đăng nhập là mã số sinh viên. Nếu mã số sinh viên có ít hơn 7 kí tự thì bổ sung các số 0 phía trước để mã số sinh viên có đủ 7 kí tự. <br>
                            <i>Ví dụ: mã số sinh viên là "123" thì tên đăng nhập là "0000123"</i><br>
                            * Mật khẩu là họ tên đầy đủ không dấu, không viết hoa, không dấu cách.<br>
                            <i>Ví dụ: Họ và tên là "Nguyễn Văn A" thì mật khẩu là "nguyenvana"</i><br>
                            * Trường hợp anh/chị không nhớ chính xác mã số sinh viên vui lòng gửi email tới địa chỉ ks.ktdb@nuce.edu.vn<br>
                            * Khi cần hỗ trợ vui lòng liên hệ theo hotline 0912987567 hoặc qua email ks.ktdb@nuce.edu.vn
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
     console.log("@ViewData["LoginFailed"]");
</script>