
@model nuce.web.survey.student.Models.LoginModel

@{ 
    var loginAction = "/account/login";
}

<section id="body" class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="mb-2 text-center text-uppercase">
                    @if (Model.Type == "Student")
                    {
                        <span>Khảo sát phản hồi của sv về hoạt động giảng dạy của gv</span>
                    }
                    else if (Model.Type == "UndergraduateStudent")
                    {
                        <span>Khảo sát phản hồi của sv về chất lượng đào tạo trước tốt nghiệp</span>
                    }
                    else if (Model.Type == "GraduateStudent")
                    {
                        loginAction = "/account/logingraduate";
                        <span>Khảo sát tình hình việc làm sv sau tốt nghiệp</span>
                    }
                </div>
            </div>

            <form method="post" action="@loginAction" class="col-12 col-md-6 pb-2">
                @Html.AntiForgeryToken()
                <div class="form-group mb-1">
                    <label for="username" class="w-100">Tên đăng nhập</label>
                    @Html.TextBoxFor(m => m.Username, new { @placeholder = "Mã số sinh viên", @class = "form-control custom-input" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "form-text", @style = "color: #F70000; height: 24px" })
                </div>
                <div class="form-group mb-2">
                    <label for="password" class="w-100">Mật khẩu</label>
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Mật khẩu", @class = "form-control custom-input" })
                    <span class="form-text" style="color: #F70000;">@ViewData["LoginMessage"]</span>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-text", @style = "color: #F70000; height: 24px" })
                </div>
                <button type="submit" class="btn m-bg-blue text-light w-100">
                    Đăng nhập
                </button>
            </form>
        </div>
    </div>
</section>
<script>
     console.log("@ViewData["LoginFailed"]");
</script>