@model nuce.web.survey.student.Models.SurveyResultModel

@{
    ViewBag.Title = "Lecturer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item">Kết quả khảo sát</li>
    @if (!string.IsNullOrEmpty(Model.FacultyCode))
    {
        <li class="breadcrumb-item active" aria-current="page">
            <a class="m-text-blue" href="/surveyresult/faculty?code=@Model.FacultyCode">Khoa/Ban</a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.DepartmentCode))
    {
        <li class="breadcrumb-item active" aria-current="page">
            <a class="m-text-blue" href="/surveyresult/department?code=@Model.DepartmentCode&facultyCode=@Model.FacultyCode">Bộ môn</a>
        </li>
    }
    <li class="breadcrumb-item active" aria-current="page">
        Giảng viên
    </li>
}
@* Tên bộ môn *@
<h5 class="text-center mb-3 m-text-blue">
    <span>
        @Model.Data.LecturerName
    </span>
</h5>

<div class="row">
    <div class="col-12">
        <table id="lecturer-survey-result-datatable"
               class="table th-border-none">
            <!--data-page-length='25'-->
            <thead>
                <tr>
                    <td>Số sv tham gia khảo sát</td>
                    <td>Số sv được khảo sát</td>
                    <td>Số phiếu thu về</td>
                    <td>Số phiếu ks phát ra</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Data.SoSvThamGiaKhaoSat</td>
                    <td>@Model.Data.SoSvDuocKhaoSat</td>
                    <td>@Model.Data.SoPhieuThuVe</td>
                    <td>@Model.Data.SoPhieuPhatRa</td>
                </tr>
            </tbody>
        </table>
        @foreach (var demuc in Model.Data.DeMuc)
        {
            <h5>@demuc.Title</h5>
            <table class="table th-border-none">
                <tbody>
                    @foreach (var cauhoi in demuc.CauHoi)
                    {
                        <tr>
                            <td colspan="@cauhoi.DanhSachDiem.Count">@cauhoi.Content</td>
                        </tr>
                        <tr>
                            @foreach (var diem in cauhoi.DanhSachDiem)
                            {
                                <td>
                                    @diem.Key
                                    <br />
                                    @diem.Value
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@*@section Scripts {
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/content/js/dataTables.config.js"></script>
    <script>
        var facultyResultState = {
            userTable: function() {
                return $('#department-survey-result-datatable').DataTable({
                    processing: true,
                    serverSide: true,
                    ordering: false,
                    lengthChange: false,
                    stateSave: true,
                    language: dataTableConfig.language,
                    ajax: {
                        url: `GetDepartmentResult?code=@Model.DepartmentCode`,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'post',
                        data: function (d) {
                            return JSON.stringify(d);
                        },
                    },
                    columns: [
                        {
                            data: 'name',
                            mRender: function(data, type, row) {
                                return `<a href="/surveyresult/lecturer?code=${row.LecturerCode}&facultyCode=@Model.FacultyCode&departmentCode=@Model.DepartmentCode">${row.LecturerName}</a>`;
                            },
                        },
                        {
                            data: 'SoSvThamGiaKhaoSat',
                        },
                        {
                            data: 'SoSvDuocKhaoSat',
                        },
                        {
                            data: 'SoPhieuThuVe',
                        },
                        {
                            data: 'SoPhieuPhatRa',
                        },
                    ],
                });
            },
            init: function() {
                facultyResultState.userTable();
                $('#department-survey-result-datatable_filter').hide();
            },
        };
        facultyResultState.init();
    </script>
}*@



