@model nuce.web.survey.student.Models.SurveyResultModel

@{
    ViewData["Title"] = "Kết quả khảo sát hoạt động giảng dạy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    @if (!string.IsNullOrEmpty(Model.FacultyCode))
    {
        <li class="breadcrumb-item"><a class="m-text-blue" href="/survey/faculty">Khoa</a></li>
        <li class="breadcrumb-item"><a class="m-text-blue" href="/surveyresult/faculty">Kết quả khảo sát HĐGD</a></li>
        <li class="breadcrumb-item"><a class="m-text-blue" href="/surveyresult/department?code=@Model.DepartmentCode&facultyCode=@Model.FacultyCode">Bộ môn</a></li>
    }
    else if (!string.IsNullOrEmpty(Model.DepartmentCode))
    {
        <li class="breadcrumb-item"><a class="m-text-blue" href="/surveyresult/department?code=@Model.DepartmentCode">Kết quả khảo sát HĐGD</a></li>
    }
    <li class="breadcrumb-item active" aria-current="page">
        Giảng viên
    </li>
}

@section Style{
    <style>
        .table-list table:not(:first-child) tr:first-child td {
            border-top: none;
        }

        body {
            counter-reset: title-question-counter;
        }

        .question-title {
            counter-increment: title-question-counter;
        }

        .question-title:before {
            content: counter(title-question-counter, upper-roman)". ";
        }
    </style>
}

@* Tên giảng viên *@
<h5 class="text-center mb-1 m-text-blue">
    <span>
        @Model.Data.LecturerName
    </span>
</h5>

<div class="row">
    <div class="col-12">
        @if (Model.Data.ChiTietTungLopMonHoc.Count == 0)
        {
            <p class="mt-4 m-fs-22 text-center">Giảng viên chưa được thống kê hoặc không tồn tại trong lớp môn học nào</p>
        }

        @foreach (var demuc in Model.Data.ChiTietTungLopMonHoc)
        {
            <h5 class="my-3 m-text-blue">@demuc.TenLop - @demuc.TenMon</h5>
            <div class="table-list">
                @foreach (var cauhoi in demuc.CauHoi)
                {
                    <table class="table th-border-none mb-0">
                        <tbody>
                            @if (cauhoi.OnlyTitle != null)
                            {
                                <tr>
                                    <td class="font-weight-bold pl-1 question-title">
                                        @Html.Raw(cauhoi.OnlyTitle)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="@cauhoi.DanhSachDiem.Count" class="pl-3" style="font-weight:500;">
                                        @Html.Raw(HttpUtility.HtmlDecode(cauhoi.Content))
                                    </td>
                                </tr>
                                <tr>
                                    @foreach (var dapan in cauhoi.DanhSachDiem.Keys)
                                    {
                                        if (dapan != "SA")
                                        {
                                            <td class="text-center">@Html.Raw(dapan)</td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    @foreach (var ketQua in cauhoi.DanhSachDiem.Values)
                                    {
                                        if (cauhoi.DanhSachDiem.Keys.Contains("SA"))
                                        {
                                            <td class="pl-5">@ketQua</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">@ketQua</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        }
    </div>
</div>