@using nuce.web.survey.student.Models.SurveyResult
@model List<KetQuaGiangVienCuaMonHoc>

@{
    ViewData["Title"] = "Kết quả khảo sát hoạt động giảng dạy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item"><a class="m-text-blue" href="/survey/faculty">Khoa</a></li>
    <li class="breadcrumb-item active" aria-current="page">Kết quả khảo sát HĐGD</li>
}
<h5 class="text-center mb-3 m-text-blue">
    <span>
        @ViewBag.SubjectCode - @ViewBag.SubjectName
    </span>
</h5>

<div class="row">
    <div class="col-12">
        <table id="department-survey-result-datatable"
               class="table th-border-none">
            <thead>
                <tr>
                    <td>Mã giảng viên</td>
                    <td>Tên giảng viên</td>
                    <td>Mã lớp</td>
                    <td>Số phiếu phát ra</td>
                    <td>Số phiếu thu về</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.LecturerCode
                        </td>
                        <td>
                            <a href="/surveyresult/subjectlecturer?lecturerCode=@item.LecturerCode&subjectCode=@ViewBag.SubjectCode&surveyRoundId=@ViewBag.SurveyRoundId">@item.LecturerName</a>
                        </td>
                        <td>@item.MaLop</td>
                        <td>
                            @item.SoSVHoc
                        </td>
                        <td>
                            @item.SoSVLamKhaoSat
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

}