@model nuce.web.quanly.Models.AnswerOfQuestion
@{
    ViewData["Title"] = "Đáp án";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <a class="update-btn text-light p-2" style="text-decoration: none;" href="/survey/question">← Quay lại danh sách</a>

    <div class="fw-700 text-uppercase font-15-sm font-25 mb-2 mt-3">
        Danh sách đáp án của câu hỏi
    </div>
    <h3 class="font-15-sm font-25 mb-2 mt-3">
        @Html.Raw(Model.QuestionContent)
    </h3>
    <div class="row mb-3">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <a href="/survey/createanswer?questionId=@Model.QuestionId" class="btn update-btn text-light w-100 m-2">Thêm đáp án</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="id-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Nội dung</th>
                        <th>Thứ tự</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Answers.Count; i++)
                    {
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                @Model.Answers[i].dapAnId
                            </td>
                            <td>
                                @Html.Raw(Model.Answers[i].content)
                            </td>
                            <td>
                                @Model.Answers[i].order
                            </td>
                            <td>
                                <a href='/survey/detailanswer?id=@Model.Answers[i].id&questionId=@Model.Answers[i].cauHoiGId'>Sửa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
