@model nuce.web.quanly.Models.AnswerOfQuestion
@{
    ViewData["Title"] = "Đáp án";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-2">
    <a class="update-btn text-light p-2" style="text-decoration: none;" href="/survey/undergraduatequestion">← Quay lại danh sách</a>

    <div class="fw-700 text-uppercase font-15-sm font-25 mb-2 mt-3 text-dark">
        Danh sách đáp án của câu hỏi
    </div>
    <h3 class="font-15-sm font-25 mb-2 mt-3 text-dark">
        @Html.Raw(Model.QuestionContent)
    </h3>
    <div class="row mb-3 d-flex justify-content-end">
        <div class="col-md-10">
        </div>
        <div class="col-md-2 d-flex justify-content-end">
            <a href="/survey/createundergraduateanswer?questionId=@Model.QuestionId" class="btn btn-primary">Thêm đáp án</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="id-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Mã</th>
                        <th class="text-center" style="min-width:300px;">Nội dung</th>
                        <th class="text-center">Thứ tự</th>
                        <th class="text-center"  style="min-width:140px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Answers.Count; i++)
                    {
                        <tr>
                            <td class="text-center">
                                @(i + 1)
                            </td>
                            <td class="text-center">
                                @Model.Answers[i].code
                            </td>
                            <td>
                                @Html.Raw(Model.Answers[i].content)
                            </td>
                            <td class="text-center">
                                @Model.Answers[i].order
                            </td>
                            <td class="text-center">
                                <a class="btn btn-outline-success btn-sm" href='/survey/detailundergraduateanswer?id=@Model.Answers[i].id&questionId=@Model.Answers[i].cauHoiId'>Sửa</a>
                                <button class="btn btn-outline-danger btn-sm" onclick="deleteAnswer('@Model.Answers[i].id')">Xoá</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-yes-no" tabindex="-1" role="dialog" aria-labelledby="modal-yes-no" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-yes-no-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button id="choose-yes" type="button" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function deleteAnswer(id) {
            $('#modal-yes-no-title').html('Xác nhận xoá');
            $('#modal-yes-no-content').html('Xoá đáp án ?');
            $('#modal-yes-no').modal('show');
            $('#choose-yes').off();
            $('#choose-yes').click(function () {
                $.ajax({
                    data: { id },
                    dataType: 'json',
                    method: 'Post',
                    url: '/survey/DeleteUndergraduateAnswer',
                    complete: () => { }
                }).done(function (res) {
                    if (res.statusCode === 200) {
                        toastSuccess('Xoá thành công');
                        $('#modal-yes-no').modal('hide');
                        window.location.reload();
                    }
                    else {
                        try {
                            let content = JSON.parse(res.content);
                            toastError(content.message);
                        } catch {
                            toastError('Có lỗi xảy ra');
                        }
                        console.log(res);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + ': ' + errorThrown);
                    console.log(jqXHR);
                });
            });
        }
    </script>
}
