@model nuce.web.survey.student.Models.LoginModel
@{
    ViewData["Title"] = "Đăng nhập cán bộ";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        Đăng nhập cán bộ
    </li>
}

<section id="body" class="login-form">
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6 col-12 mt-0 d-flex">
                <div class="card w-100 h-100 m-box-shadow-right-bottom">
                    <h5 class="card-header">Đăng nhập</h5>
                    <div class="card-body">
                        <form method="post" action="/account/login" class="pb-2">
                            @Html.AntiForgeryToken()
                            @if (ViewData["target"] != null)
                            {
                                <input name="target" value="@ViewData["target"]" hidden />
                            }
                            <div class="form-group mb-1">
                                <label for="username" class="w-100">Tên đăng nhập</label>
                                @Html.TextBoxFor(m => m.Username, new { @placeholder = "Tên đăng nhập", @class = "form-control custom-input" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "form-text", @style = "color: #F70000; height: 24px" })
                            </div>
                            <div class="form-group mb-2">
                                <label for="password" class="w-100">Mật khẩu</label>
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "Mật khẩu", @class = "form-control custom-input" })
                                <span class="form-text" style="color: #F70000;">@ViewData["LoginMessage"]</span>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-text", @style = "color: #F70000; height: 24px" })
                            </div>
                            <div style="display: none">
                                @Html.TextBoxFor(m => m.LoginUserType)
                            </div>
                            <button type="submit" class="btn m-bg-blue text-light w-100">
                                Đăng nhập
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6 col-12 mt-md-0 mt-2">
                <div class="card w-100 h-100 m-box-shadow-right-bottom">
                    <h5 class="card-header">Chú ý</h5>
                    <div class="card-body">
                        <div id="login-ks-notice">-->
                            @* HTML format *@
                        <!--</div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>
