@page "/admin/usermanager/detail"
@model nuce.web.manager.Pages.Admin.Core.UserManager.DetailModel
@{
    ViewData["Title"] = "Chi tiết tài khoản";
}

@section Style {
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
    <style>
        .custom-boostrap-select button{
            background: none; 
            border-color: #ced4da;
        }
    </style>
}

<form method="post" class="container-fluid service-categories-wrp">
    <div class="fw-700 text-uppercase font-15-sm font-25 mb-2">
        cập nhật thông tin tài khoản
    </div>

    <div class="fw-600 text-uppercase font-14-sm font-18 mb-2 main-color">
        Cài đặt tài khoản
    </div>

    @if (ViewData["UpdateSuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewData["UpdateSuccessMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (ViewData["UpdateErrorMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewData["UpdateErrorMessage"]
            <hr>
            <p class="mb-0">@ViewData["UpdateErrorMessageDetail"]</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div method="post" class="row font-13-sm font-16">
        <input type="hidden" asp-for="UserUpdateBind.id" />
        <span class="form-text text-danger" asp-validation-for="UserUpdateBind.id"></span>
        <input type="hidden" asp-for="UserUpdateBind.username" />
        <input type="hidden" asp-for="UserUpdateBind.status" />
        <div class="col-12 form-group">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="font-14-sm font-weight-bold mb-2">
                        Ảnh đại diện <span class="sub-color">*</span>
                    </div>
                    <div class="custom-file">
                        <input id="input-file"
                               type="file"
                               class="custom-file-input" />
                        <label for="input-file"
                               class="custom-file-label text-truncate text-center">
                            <img src="~/images/icons/upload.png"
                                 alt="upload-icon"
                                 class="mr-1" />
                            Chọn file
                        </label>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <img src="~/images/person1.png"
                         alt=""
                         class="upload-user-avatar" />
                </div>
            </div>
        </div>
        <div class="col-12 form-group">
            <div class="row mr-0 ml-0 align-items-center">
                <div class="font-14-sm fw-600 col-12 col-md-2 pr-0 pl-0">
                    Tên tài khoản
                </div>
                <div class="col-12 col-md-10">@(Model.UserUpdateBind.username)</div>
            </div>
        </div>
        <div class="col-12 form-group">
            <div class="row mr-0 ml-0">
                <div class="font-14-sm fw-600 col-12 pr-0 pl-0 col-md-2">
                    Địa chỉ email
                </div>
                <div class="col-12 col-md-10">
                    <input type="text" class="form-control" asp-for="UserUpdateBind.email" />
                    <span class="form-text text-danger" asp-validation-for="UserUpdateBind.email"></span>
                </div>
            </div>
        </div>
        <div class="col-12 form-group">
            <div class="row mr-0 ml-0">
                <div class="font-14-sm fw-600 col-12 pr-0 pl-0 col-md-2">
                    SĐT
                </div>
                <div class=" col-12 col-md-10">
                    <input type="text" class="form-control" asp-for="UserUpdateBind.phoneNumber" />
                    <span class="form-text text-danger" asp-validation-for="UserUpdateBind.phoneNumber"></span>
                </div>
            </div>
        </div>
        <div class="col-12 form-group">
            <div class="row mr-0 ml-0">
                <div class="font-14-sm fw-600 col-12 pr-0 pl-0 col-md-2">
                    Trạng thái
                </div>
                <div class="col-12 col-md-10">
                    <div class="form-control">
                        @(Model.UserUpdateBind.status)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 form-group">
            <div class="row mr-0 ml-0">
                <div class="font-14-sm fw-600 col-12 pr-0 pl-0 col-md-2">
                    Vai trò
                </div>
                <div class="col-12 col-md-10">
                    <select asp-for="UserUpdateBind.roles" id="select-roles" class="selectpicker form-control custom-boostrap-select" multiple>
                        <option value="Admin">Quản trị</option>
                        <option value="Faculty">Khoa</option>
                        <option value="Department">Phòng ban</option>
                    </select>
                    <span class="form-text text-danger" asp-validation-for="UserUpdateBind.roles"></span>
                </div>
            </div>
        </div>
        <div class="col-12 form-group d-flex justify-content-center">
            <div class="col-12 col-md-3">
                <button type="submit" asp-page-handler="UpdateUser" class="update-btn text-light w-100 text-uppercase font-14-sm pt-2 pb-2 mt-2">
                    cập nhật
                </button>
            </div>
        </div>
    </div>

    <div class="fw-600 text-uppercase font-14-sm font-18 mb-2 main-color">
        Khôi phục mật khẩu
    </div>
    <div class="font-13-sm font-16 font-italic mb-3">
        Dùng trong trường hợp người sử dụng tài khoản không nhớ mật khẩu
    </div>
    <div class="row justify-content-end font-16">
        <div class="col-12 form-group">
            <div class="row mr-0 ml-0">
                <div class="font-14-sm fw-600 col-12 pr-0 pl-0 col-md-2">
                    Mật khẩu mới:
                </div>
                <div class="col-12 col-md-10">
                    <input type="password" class="form-control" asp-for="ResetPassword.newPassword">
                    <span class="form-text text-danger" asp-validation-for="ResetPassword.newPassword"></span>
                </div>
            </div>
        </div>
        <div class="col-12 form-group">
            <div class="row mr-0 ml-0">
                <div class="font-14-sm fw-600 col-12 pr-0 pl-0 col-md-2">
                    Xác nhận mật khẩu:
                </div>
                <div class="col-12 col-md-10">
                    <input type="password" class="form-control" asp-for="ResetPassword.confirmPassword">
                    <span class="form-text text-danger" asp-validation-for="ResetPassword.confirmPassword"></span>
                </div>
            </div>
        </div>
        <div class="col-12 form-group d-flex justify-content-center">
            <div class="col-12 col-md-3">
                <button asp-page-handler="ResetPassword" class="update-btn text-light w-100 text-uppercase font-14-sm pt-2 pb-2 mt-2" type="submit">
                    cập nhật
                </button>
            </div>
        </div>
    </div>

    <div class="fw-600 text-uppercase font-14-sm font-18 mb-2 main-color">
        Thay đổi trạng thái tài khoản
    </div>
    <div class="font-13-sm font-16 font-italic mb-3">
        Lưu ý với trường hợp xoá tài khoản, tài khoản bị xoá sẽ không thể khôi phục
    </div>
    <div class="row justify-content-end font-16">
        <div class="col-12 form-group d-flex justify-content-center">
            @if (Model.UserUpdateBind.status == (int)nuce.web.manager.Common.UserStatus.Deactive)
            {
                <div class="col-12 col-md-3">
                    <button class="btn btn-success text-light w-100 text-uppercase font-14-sm pt-2 pb-2 mt-2">
                        mở khoá tài khoản
                    </button>
                </div>
            }
            else if (Model.UserUpdateBind.status == (int)nuce.web.manager.Common.UserStatus.Active)
            {
                <div class="col-12 col-md-3">
                    <button class="btn btn-warning text-light w-100 text-uppercase font-14-sm pt-2 pb-2 mt-2"
                            data-toggle="modal" data-target="#modal-yes-no">
                        khoá tài khoản
                    </button>
                </div>
            }
            <div class="col-12 col-md-3">
                <button class="btn btn-danger text-light w-100 text-uppercase font-14-sm pt-2 pb-2 mt-2">
                    xoá tài khoản
                </button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modal-yes-no" tabindex="-1" role="dialog" aria-labelledby="modal-yes-no" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-yes-no-title">Khoá tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                Xác nhận khoá tài khoản?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/bootstrap-select.min.js"></script>
    <script>
        $('#select-roles').selectpicker('val', @(Html.Raw(JsonSerializer.Serialize<List<string>>(Model.UserUpdateBind.roles))));
    </script>
}