@using nuce.web.survey.student.Common
@{
    ViewData["Title"] = "Nhập bài làm khảo sát";
}

@section Style {
    <link rel="stylesheet" href="~/content/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/content/css/bootstrap-select.min.css" />
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item"><a class="m-text-blue" href="/survey/faculty">Khoa</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nhập bài làm khảo sát</li>
}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>

    <div class="row m-fs-10">
        <div class="col-md-12 px-0">
            <table id="table-gra-stu" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center px-1" width="1px">STT</th>
                        <th class="text-center px-1" style="min-width:80px;">Họ tên</th>
                        <th class="text-center" style="min-width:50px;">Lớp</th>
                        <th class="text-center" style="min-width:50px;">sđt</th>
                        <th class="text-center" style="min-width:50px;">email</th>
                        <th class="text-center" width="1px"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/content/js/bootstrap-select.min.js"></script>
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/content/js/dataTables.config.js"></script>
    <script>
        var table = $('#table-gra-stu').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            lengthChange: false,
            stateSave: true,
            pageLength: 20,
            columnDefs: [
                {
                    targets: [0, 5],
                    className: 'text-center'
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'px-1'
                }
            ],
            language: dataTableConfig.language,
            ajax: {
                url: '/Survey/GetGraduateTheSurveyStudent',
                dataType: 'json',
                contentType: 'application/json',
                type: "POST",
                data: function (d) {
                    console.log(d);
                    return JSON.stringify(d);
                },
            },
            columns: [
                {
                    data: null
                },
                {
                    data: null,
                    mRender: function (data, type, row) {
                        return `${data.tensinhvien} (${data.exMasv})`;
                    }
                },
                {
                    data: "lopqd"
                },
                {
                    data: null,
                    mRender: function (data, type, row) {
                        if (data.mobile != null) {
                            return `<a href="tel:${data.mobile}">${data.mobile}<a/>`;
                        }
                        return '';
                    }
                },
                {
                    data: null,
                    mRender: function (data, type, row) {
                        if (data.mobile != null) {
                            return `<a href="mailto:${data.email}">${data.email}<a/>`;
                        }
                        return '';
                    }
                },
                @*{
                    data: null,
                    name: "surveyStudentStatus",
                    mRender: function (data, type, row) {
                        if (data.surveyStudentStatus === @((int)SurveyStudentStatus.DoNot)) {
                            return 'Chưa thực hiện';
                        } else if (data.surveyStudentStatus === @((int)SurveyStudentStatus.Doing)) {
                            return 'Đang thực hiện';
                        } else if (data.surveyStudentStatus === @((int)SurveyStudentStatus.Done)) {
                            return 'Hoàn thành';
                        } else if (data.surveyStudentStatus === @((int)SurveyStudentStatus.HaveNot)) {
                            return 'Không có';
                        }
                        return data.surveyStudentStatus;
                    }
                },*@
                {
                    data: null,
                    mRender: function (data, type, row) {
                        if (data.surveyStudentStatus === @((int)SurveyStudentStatus.DoNot)) {
                            return `<a href="/survey/getgraduatethesurveystudent?studentCode=${data.exMasv}">Nhập<a/>`;
                        } else if (data.surveyStudentStatus === @((int)SurveyStudentStatus.Doing)) {
                            return `<a href="/survey/getgraduatethesurveystudent?studentCode=${data.exMasv}">T.tục<a/>`;
                        }
                        return ``;
                    }
                }
            ]
        });
        table.on('draw.dt', function () {
            var PageInfo = $('#table-gra-stu').DataTable().page.info();
            table.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + PageInfo.start;
            });
        });
        $('#table-gra-stu_filter').hide();
        $("#btn-search").click(() => {
            //table
            //    .column(1).search($("#ma-cauhoi").val())
            //    .draw();
        });
    </script>
}