@using System.Configuration;

@{
    var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
    var accessToken = Request.Cookies[nuce.web.survey.student.Common.UserParameters.JwtAccessToken];
    var username = "";
    var roles = new List<string>();
    if (accessToken != null)
    {

        var jwtSecurityToken = handler.ReadJwtToken(accessToken.Value);

        //username
        var usernameClaim = jwtSecurityToken.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name);
        if (usernameClaim != null)
        {
            username = usernameClaim.Value;
        }

        //role
        roles = jwtSecurityToken.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(r => r.Value).ToList();
    }
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đại Học Xây Dựng | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/content/css/bootstrap.min.css" />

    <!-- Custom -->
    <link rel="stylesheet" href="~/content/css/m-util.css" />
    <link rel="stylesheet" href="~/content/css/m-style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5fd973c8df060f156a8d7a7d/1epkmoi47';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    @RenderSection("Style", required: false)
</head>
<body>
    <header>
        <div class="m-bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-md-flex justify-content-end pt-1 pb-1 pt-md-3 pb-md-3 m-fs-sm-12">
                            <div class="ml-2 mr-2 font-weight-bold">
                                @{
                                    string strDayOfWeek = "";
                                    var dayOfWeek = DateTime.Now.DayOfWeek;
                                    if (dayOfWeek == DayOfWeek.Monday)
                                    {
                                        strDayOfWeek = "Thứ 2";
                                    }
                                    else if (dayOfWeek == DayOfWeek.Tuesday)
                                    {
                                        strDayOfWeek = "Thứ 3";
                                    }
                                    else if (dayOfWeek == DayOfWeek.Wednesday)
                                    {
                                        strDayOfWeek = "Thứ 4";
                                    }
                                    else if (dayOfWeek == DayOfWeek.Thursday)
                                    {
                                        strDayOfWeek = "Thứ 5";
                                    }
                                    else if (dayOfWeek == DayOfWeek.Friday)
                                    {
                                        strDayOfWeek = "Thứ 6";
                                    }
                                    else if (dayOfWeek == DayOfWeek.Saturday)
                                    {
                                        strDayOfWeek = "Thứ 7";
                                    }
                                    else if (dayOfWeek == DayOfWeek.Sunday)
                                    {
                                        strDayOfWeek = "Chủ nhật";
                                    }
                                }

                                @(strDayOfWeek), ngày @(DateTime.Now.ToString("dd/MM/yyyy"))
                            </div>
                            <div class="ml-2 mr-2 font-weight-bold d-inline">
                                <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="#"><i class="fas fa-laptop p-1"></i> Văn phòng điện tử</a>
                            </div>
                            <div class="ml-2 mr-2 font-weight-bold d-inline">
                                <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="#"><i class="fas fa-envelope p-1"></i> Email</a>
                            </div>
                            <div class="ml-2 mr-2 font-weight-bold d-inline">
                                <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="#"><i class="fas fa-phone p-1"></i> Liên hệ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="hd-banner">
                <img src="~/content/img/banner.jpg" class="img-fluid"  />
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark m-bg-blue pt-0 pb-0 pr-0">
                <a class="navbar-brand" href="/default">
                    <i class="fas fa-home text-white"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" id="nav-item-container">
                        <li class="nav-item dropdown m-nav-item-hover">
                            <a class="nav-link text-white mt-1 mb-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Giới thiệu
                            </a>
                            <div class="dropdown-menu m-max-width-md-90per" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Sứ mệnh tầm nhìn của Đại học Xây Dựng</a>
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Chứng nhận kiểm định CLGD Đại học Xây Dựng</a>
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Giới thiệu chung</a>
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Chức năng nhiệm vụ</a>
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Cơ cấu tổ chức</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown m-nav-item-hover">
                            <a class="nav-link text-white mt-1 mb-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Khảo thí
                            </a>
                            <div class="dropdown-menu m-max-width-md-90per" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Văn bản của Nhà nước & Bộ</a>
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Văn bản của Trường</a>
                                <a class="dropdown-item m-bg-hover-blue text-truncate" href="#">Hướng dẫn quy trình và biểu mẫu</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-bg-none pl-0 mb-0">
                        @RenderSection("Breadcrumb", required: false)
                        @*<li class="breadcrumb-item "><a class="m-text-blue" href="#">Home</a></li>
                    <li class="breadcrumb-item "><a class="m-text-blue" href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>*@
                    </ol>
                </nav>
            </div>
            @if (accessToken != null)
            {
                <div class="col-3 d-flex justify-content-end align-items-center">
                    @username | <a href="/Account/Logout">Đăng xuất</a>
                </div>
            }
        </div>
    </section>

    <section class="container" style="min-height: 600px;">
        @RenderBody()
    </section>


    <footer class="mt-3" id="footer">
        <div class="container">
            <div class="row">
                <div class="col pt-3 pb-3 d-flex justify-content-center">
                    Bản quyền  &copy;@(DateTime.Now.Year) thuộc Đại học Xây dựng
                    <br />
                    Phát triển bởi: Khoa Công Nghê Thông Tin
                </div>
            </div>
        </div>
    </footer>

    <div id="loading-screen" class="popup-fullscreen">
        <div class="d-flex justify-content-center align-items-center">
            <div class="loading-circle"></div>
        </div>
    </div>
    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/jquery.cookie.min.js"></script>
    <script src="~/content/js/jquery.validate.min.js"></script>
    <script src="~/content/js/popper.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script>
        var API_URL = `@ConfigurationManager.AppSettings.Get("API_URL")`;
        var THONGBAO_ID = 5;
        var TINTUC_ID = 6;
        $.ajaxSetup({
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
        });
        const debounce = (func, delay) => {
            let debounceTimer;
            return function () {
                const context = this;
                const args = arguments;
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(() => func.apply(context, args), delay);
            }
        }
    </script>
    <script>
        let username = '@username';
        let fullname = '@username';
        $('#username-mobile').html(username);
        $('#fullname-mobile').html(fullname);
        $('#username-large-screen').html(username);
        $('#fullname-large-screen').html(fullname);
    </script>
    <script>
        $('.clear-input').each(function () {
            let self = $(this);
            self.click(function () {
                //tìm 2 cấp
                self.parent().parent().find('input').each(function () {
                    $(this).val('');
                });
                self.parent().parent().find('select').each(function () {
                    $(this).selectpicker('val', '');
                });
                //tìm 1 cấp
                self.parent().find('input').each(function () {
                    $(this).val('');
                });
                self.parent().find('input').each(function () {
                    $(this).selectpicker('val', '');
                });
            });
        });

        function dateString(today) {
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            return dd + '/' + mm + '/' + yyyy;
        }
    </script>
    <script>

        var STORAGE_KEY_CATEGORY_LIST = 'category-list';

        var initMenu = function() {
            const localCategoryData = localStorage.getItem(STORAGE_KEY_CATEGORY_LIST);
            if (localCategoryData == null) {
                apiGenerateMenu();
                return;
            }
            try {
                handleCategoryList(JSON.parse(localCategoryData));
            } catch (err) {
                console.log(err);
                apiGenerateMenu();
            }
        };

        var apiGenerateMenu = function() {
            $.ajax({
                type: 'get',
                url: `${API_URL}/api/NewsManager/news-category/P_KhaoThi`,
                dataType: 'json',
                contentType: 'application/json',
                success: function(res) {
                    if (res != null && Array.isArray(res)) {
                        handleCategoryList(res);
                        localStorage.setItem(STORAGE_KEY_CATEGORY_LIST, JSON.stringify(res));
                    }
                },
            });
        };

        var handleCategoryList = function(data = []) {
            let stringHtml = '';
            const menuItemTemplate = `<li class="nav-item dropdown m-nav-item-hover">
                                        <a class="nav-link text-white mt-1 mb-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            [name]
                                        </a>
                                        [dropdown-template]
                                    </li>`;
            const dropdownTemplate = `<div class="dropdown-menu m-max-width-md-90per" aria-labelledby="navbarDropdown">
                                        [dropdown-detail-template]
                                    </div>`;
            const dropdownDetailTemplate = `<a class="dropdown-item m-bg-hover-blue text-truncate" href="[link]">[name]</a>`;

            data.forEach(cat => {
                if (cat.parent == -1) {
                    const children = data.filter(c => c.parent == cat.id);
                    let dropdownHtml = '';
                    if (children.length > 0) {
                        let dropdownDetailHtml = '';
                        children.forEach(child => {
                           dropdownDetailHtml += dropdownDetailTemplate.replace('[name]', child.description)
                                                                    .replace('[link]', `/news?catId=${child.id}`);
                        });
                        dropdownHtml += dropdownTemplate.replace('[dropdown-detail-template]', dropdownDetailHtml);  
                    }
                    const tempHtml = menuItemTemplate.replace('[name]', cat.description)
                                                    .replace('[dropdown-template]', dropdownHtml);
                    stringHtml += tempHtml;
                }
            });
            $('#nav-item-container').html(stringHtml);
        };

        initMenu();

    </script>
    @*<script>
            let div = document.createElement('div');
            let loop = setInterval(() => {
                console.log(div);
            });
            Object.defineProperty(div, "id", {
                get: () => {
                    //clearInterval(loop);
                    alert("Yêu cầu khảo sát nghiêm túc!. Mở một tab mới để thực hiện lại.");
                }
            });
        </script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>