@using nuce.web.quanly.Models
@using nuce.web.quanly.Common
@using nuce.web.quanly.Models.JsonData
@using Newtonsoft.Json;
@model List<QuestionJson>
@{
    ViewData["Title"] = "Nội dung phiếu khảo sát";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="~/Content/css/star-rating.css" />
    <style>
        body {
            counter-reset: title-question-counter;
        }

        .question-title {
            counter-increment: title-question-counter;
        }

            .question-title:before {
                content: counter(title-question-counter, upper-roman)". ";
            }

        .tag-child-inline > * {
            display: inline;
        }
    </style>
}

@helper GenerateAnswerChildQuestion(AnswerJson answer)
{
    <div id="answerQuestion-@answer.AnswerChildQuestion.Code" style="display: none;">
        <div class="form-group col-12 mb-0 pl-0 pr-0">
            <label id="@answer.AnswerChildQuestion.Code" class="text-dark tag-child-inline mb-0">@Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(answer.AnswerChildQuestion.Content)))</label>
            @if (answer.AnswerChildQuestion.Image != null)
            {
                <div class="d-flex justify-content-center align-items-center">
                    <img src="@answer.AnswerChildQuestion.Image" style="max-width: 200px; border-radius:5px;" />
                </div>
            }
        </div>
        <div class="form-row pl-2 pr-2">
            @GenerateAnswer(answer.AnswerChildQuestion)
            @if (answer.AnswerChildQuestion.Type == QuestionType.GQ && answer.AnswerChildQuestion.ChildQuestion != null)
            {
                <div class="col">
                    <div class="form-group">
                        @{
                            var indexChild = 1;
                        }
                        @foreach (var questionChild in answer.AnswerChildQuestion.ChildQuestion)
                        {
                            <div class="form-group col-12 mb-0 pl-0 pr-0">
                                <label id="@answer.AnswerChildQuestion.Code" class="text-dark">@indexChild. @Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(answer.AnswerChildQuestion.Content)))</label>
                                @if (answer.AnswerChildQuestion.Image != null)
                                {
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="@answer.AnswerChildQuestion.Image" style="max-width: 200px; border-radius:5px;" />
                                    </div>
                                }
                            </div>
                            <div class="form-row pl-2 pr-2">
                                @GenerateAnswer(questionChild)
                            </div>
                            indexChild++;
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}

@helper GenerateAnswer(QuestionJson question)
{
    bool displayLong = false;
    if (question.Answers != null && (question.Answers.Count > 5 || question.Answers.Where(o => o.Content.Length > 20).Count() > 0))
    {
        displayLong = true;
    }

    if (question.Type == QuestionType.SC)
    {
        if (question.Answers == null)
        {
            return;
        }
        foreach (var answer in question.Answers)
        {
            if (displayLong)
            {
                <div class="col-12 col-md-6">
                    <div class="d-flex">
                        @* answerchildquestioncode để show hide câu hỏi con của đáp án *@
                        <input id="@answer.Code" class="mt-1" questionCode="@question.Code" answerCode="@answer.Code" type="radio" name="@question.Code"
                               @(answer.AnswerChildQuestion != null ? $"answerchildquestioncode={answer.AnswerChildQuestion.Code}" : "")
                               @(answer.ShowQuestion != null ? $"showquestion={JsonConvert.SerializeObject(answer.ShowQuestion)}" : "")
                               @(answer.HideQuestion != null ? $"hidequestion={JsonConvert.SerializeObject(answer.HideQuestion)}" : "") />
                        <label for="@answer.Code" class="text-dark ml-1">@Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(answer.Content)))</label>
                    </div>
                </div>
            }
            else
            {
                <div class="col-6 col-md">
                    <div class="d-flex">
                        @* answerchildquestioncode để show hide câu hỏi con của đáp án *@
                        <input id="@answer.Code" class="mt-1" questionCode="@question.Code" answerCode="@answer.Code" type="radio" name="@question.Code"
                               @(answer.AnswerChildQuestion != null ? $"answerchildquestioncode={answer.AnswerChildQuestion.Code}" : "")
                               @(answer.ShowQuestion != null ? $"showquestion={JsonConvert.SerializeObject(answer.ShowQuestion)}" : "")
                               @(answer.HideQuestion != null ? $"hidequestion={JsonConvert.SerializeObject(answer.HideQuestion)}" : "") />
                        <label for="@answer.Code" class="text-dark ml-1">@Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(answer.Content)))</label>
                    </div>
                </div>
            }
        }
    }
    else if (question.Type == QuestionType.MC)
    {
        if (question.Answers == null)
        {
            return;
        }
        foreach (var answer in question.Answers)
        {
            if (displayLong)
            {
                <div class="col-12 col-md-6">
                    <div class="d-flex">
                        <input id="@answer.Code" class="mt-1" questionCode="@question.Code" answerCode="@answer.Code" type="checkbox" name="@question.Code"
                               @(answer.AnswerChildQuestion != null ? $"answerchildquestioncode={answer.AnswerChildQuestion.Code}" : "") />
                        <label for="@answer.Code" class="text-dark ml-1">@Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(answer.Content)))</label>
                    </div>
                </div>
            }
            else
            {
                <div class="col-6 col-md">
                    <div class="d-flex">
                        <input id="@answer.Code" class="mt-1" questionCode="@question.Code" answerCode="@answer.Code" type="checkbox" name="@question.Code"
                               @(answer.AnswerChildQuestion != null ? $"answerchildquestioncode={answer.AnswerChildQuestion.Code}" : "") />
                        <label for="@answer.Code" class="text-dark ml-1">@Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(answer.Content)))</label>
                    </div>
                </div>
            }
        }
    }
    else if (question.Type == QuestionType.SA)
    {
        <div class="col">
            <div class="form-group">
                <textarea class="form-control" style="min-height:100px;" questionCode="@question.Code" name="@question.Code"></textarea>
            </div>
        </div>
    }
    else if (question.Type == QuestionType.CityC)
    {
        <div class="col">
            <div class="form-group">
                <select class="form-control lua-chon-tinh-thanh col-12 col-md-3" questionCode="@question.Code" name="@question.Code">
                </select>
            </div>
        </div>
    }
    else if (question.Type == QuestionType.StarRating)
    {
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="rating">
                    <input questionCode="@question.Code" id="rating5" type="radio" name="rating" numstar="5" hidden>
                    <label class="fas fa-star" for="rating5"></label>

                    <input questionCode="@question.Code" id="rating4" type="radio" name="rating" numstar="4" hidden>
                    <label class="fas fa-star" for="rating4"></label>

                    <input questionCode="@question.Code" id="rating3" type="radio" name="rating" numstar="3" hidden>
                    <label class="fas fa-star" for="rating3"></label>

                    <input questionCode="@question.Code" id="rating2" type="radio" name="rating" numstar="2" hidden>
                    <label class="fas fa-star" for="rating2"></label>

                    <input questionCode="@question.Code" id="rating1" type="radio" name="rating" numstar="1" hidden>
                    <label class="fas fa-star" for="rating1"></label>
                </div>
            </div>
        </div>
    }
}

<div class="container mt-2">
    <div class="row mb-4">
        <div class="col-12">
            <a class="update-btn text-light p-2" style="text-decoration: none;" href="/survey/graduateexamquestions">← Quay lại danh sách phiếu khảo sát</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-dark">NỘI DUNG KHẢO SÁT</h1>
        </div>
    </div>
    <div class="row">
        @if (Model.Count == 0)
        {
            <div class="col-12">
                <h2 class="text-center text-dark">Phiếu khảo sát trống</h2>
            </div>
        }

        <div class="col-12">
            @{
                var index = 1;
            }
            @foreach (var question in Model)
            {
                <div id="div-q-@question.Code">
                    <div class="form-group col-12 mb-0 pl-0 pr-0">
                        @* Câu hỏi chỉ là tiêu đề *@
                        @if (question.Type == QuestionType.T)
                        {
                            index--;
                            <label id="@question.Code" class="text-dark w-100 tag-child-inline question-title font-weight-bold text-uppercase">
                                @Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(question.Content)))
                            </label>
                        }
                        else
                        {
                            <label id="@question.Code" class="text-dark pl-1 w-100 tag-child-inline">
                                @index. @Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(question.Content)))
                            </label>
                        }
                        @if (question.Image != null)
                        {
                            <div class="d-flex justify-content-center w-100 tag-child-inline align-items-center">
                                <img src="@question.Image" style="max-width: 200px; border-radius:5px;" />
                            </div>
                        }
                        @*@question.Type*@
                    </div>
                    <div class="form-row pl-2 pr-2 pl-2">
                        @GenerateAnswer(question)
                        @if (question.Type == QuestionType.GQ && question.ChildQuestion != null)
                        {
                            <div class="col">
                                <div class="form-group">
                                    @{
                                        var indexChild = 1;
                                    }
                                    @foreach (var questionChild in question.ChildQuestion)
                                    {
                                        <div class="form-group col-12 mb-0 pl-0 pr-0">
                                            <label id="@questionChild.Code" class="text-dark">@index.@indexChild. @Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(questionChild.Content)))</label>
                                            @if (questionChild.Image != null)
                                            {
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <img src="@questionChild.Image" style="max-width: 200px; border-radius:5px;" />
                                                </div>
                                            }
                                        </div>
                                        <div class="form-row pl-2 pr-2">
                                            @GenerateAnswer(questionChild)
                                        </div>
                                        indexChild++;
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-row pl-3 pr-2">
                        @* nếu tồn tại câu hỏi con của đáp án *@
                        @foreach (var answer in question.Answers.Where(o => o.AnswerChildQuestion != null))
                        {
                            <div class="col">
                                @GenerateAnswerChildQuestion(answer)
                            </div>
                        }
                    </div>
                </div>
                index++;
            }
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Content/js/tinh-thanh.js"></script>
    <script>
        $('.lua-chon-tinh-thanh').each(function () {
            let seft = $(this);
            let str = '';
            TenTinhThanh.forEach(item => {
                seft.append(`<option value="${item}">${item}</option>`);
            });
        });
    </script>
    <script>
        $('input[type=checkbox]').each(function () {
            let seft = $(this);
            let proSeft = this;
            function handle() {
                let isAnswerCodesAdd = proSeft.checked;
                if (proSeft.checked == true && seft.attr('answerchildquestioncode') != undefined) {
                    $(`#answerQuestion-${seft.attr('answerchildquestioncode')}`).show();
                }
                else {
                    $(`#answerQuestion-${seft.attr('answerchildquestioncode')}`).hide();
                }
            }
            seft.click(handle);
        });

        $('input[showquestion]').each(function () {
            let seft = $(this);
            let proSeft = this;
            let showQuestions = JSON.parse(seft.attr('showquestion'));

            if (proSeft.checked == false) {
                showQuestions.forEach(item => {
                    $('#' + 'div-q-' + item).hide();
                });
            }

            seft.click(() => {
                showQuestions.forEach(item => {
                    $('#' + 'div-q-' + item).show();
                });
            });
        });

        $('input[hidequestion]').each(function () {
            let seft = $(this);
            let proSeft = this;
            let hideQuestions = JSON.parse(seft.attr('hidequestion'));


            if (proSeft.checked == false) {
                hideQuestions.forEach(item => {
                    $('#' + 'div-q-' + item).show();
                });
            }

            seft.click(() => {
                hideQuestions.forEach(item => {
                    $('#' + 'div-q-' + item).hide();
                });
            });
        });
    </script>
}

