@using nuce.web.quanly.Common
@{
    ViewData["Title"] = "Đợt khảo sát cựu sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="~/content/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/content/css/bootstrap-select.min.css" />
}

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-row d-flex justify-content-end">
                <div class="col-12 col-md-2 mb-2">
                    <input class="form-control form-control" id="name-search" type="text" placeholder="Tìm theo tên" />
                </div>
                <div class="col-12 col-md-3 mb-2 d-flex flex-row">
                    <div class="w-25 d-flex justify-content-center align-items-center clear-input" title="Nhập lại">
                        <i class="fas fa-redo"></i>
                    </div>
                    <div class="w-75">
                        <button id="btn-search" class="btn btn-secondary w-100">Tìm kiếm</button>
                    </div>
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <button class="btn btn-primary w-100" onclick="createClick()">Thêm đợt khảo sát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="id-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="38%">Tên</th>
                        <th class="text-center">Từ ngày</th>
                        <th class="text-center">Đến ngày</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center" style="min-width:290px"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg auto-clear-form-on-open" id="modal-input" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Thêm đợt khảo sát</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="form-data" class="auto-validate">
                        <input name="id" hidden />
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Tên đợt khảo sát <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Từ ngày <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input type="date" class="form-control" name="fromDate" id="fromDate" required data-rule-dateLessThanOrEqual="#endDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Đến ngày <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input type="date" class="form-control" name="endDate" id="endDate" required data-rule-dateGreaterThanOrEqual="#fromDate">
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-3 col-form-label">Mô tả</label>
                                <div class="col-9">
                                    <textarea type="text" class="form-control" name="description" id="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Ghi chú</label>
                                <div class="col-9">
                                    <textarea type="text" class="form-control" name="note" id="note"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Loại <span class="text-danger">*</span></label>
                                <div class="col-9">
                                    <select class="form-control selectpicker custom-boostrap-select" name="type" id="type" data-rule-onlyAcceptListValue="1" >
                                        <option value="1">Đánh giá chất lượng giảng dạy</option>
                                    </select>
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" id="save-changes" type-handle="create">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-yes-no-close" tabindex="-1" role="dialog" aria-labelledby="modal-yes-no-close" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-yes-no-title">Xác nhận kết thúc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Kết thúc đợt khảo sát ?
            </div>
            <input id="close-id" name="id" hidden />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button id="choose-yes-close" type="button" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-yes-no" tabindex="-1" role="dialog" aria-labelledby="modal-yes-no" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-yes-no-title">Xác nhận xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                Xoá đợt khảo sát ?
            </div>
            <input id="delete-id" name="id" hidden />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button id="choose-yes" type="button" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg auto-clear-form-on-open" id="modal-thong-ke" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg mt-0" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thống kê số lượng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="border-bottom-width: 1px;">Mã khoa</th>
                                <th class="text-center" style="border-bottom-width: 1px;">Tên khoa</th>
                                <th class="text-center" style="border-bottom-width: 1px;">Số bài phát ra</th>
                                <th class="text-center" style="border-bottom-width: 1px;">Số bài thu về</th>
                                <th class="text-center" style="border-bottom-width: 1px; min-width: 100px">Tỷ lệ tham gia ks</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-thong-ke-tam">
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/content/js/dataTables.config.js"></script>
    <script>
        var table = $('#id-datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            lengthChange: false,
            stateSave: false,
            pageLength: 20,
            language: dataTableConfig.language,
            columnDefs: [
                {
                    targets: [ 1, 2, 3],
                    className: 'text-center'
                }
            ],
            ajax: {
                url: '/Survey/GetAllGraduateSurveyRound',
                dataType: 'json',
                contentType: 'application/json',
                type: "POST",
                data: function (d) {
                    return JSON.stringify(d);
                },
            },
            columns: [
                {
                    data: "name"
                },
                {
                    data: null,
                    name: "fromDate",
                    mRender: function (data, type, row) {
                        return getDateStringFromServerType(data.fromDate);
                    }
                },
                {
                    data: null,
                    name: "endDate",
                    mRender: function (data, type, row) {
                        return getDateStringFromServerType(data.endDate);
                    }
                },
                {
                    data: null,
                    name: "status",
                    mRender: function (data, type, row) {
                        let regex = /(\d+)/g;
                        let fromDate = new Date(+data.fromDate.match(regex)[0]);
                        let endDate = new Date(+data.endDate.match(regex)[0]);
                        let currentDate = new Date();

                        if (currentDate < fromDate) {
                            return '<span class="badge badge-pill badge-primary">Mới</span>';
                        } else if (currentDate >= fromDate && currentDate < endDate && (data.status == @((int)SurveyRoundStatus.Opened) || data.status == @((int)SurveyRoundStatus.New))) {
                            return '<span class="badge badge-pill badge-success">Mở</span>';
                        } else if (currentDate >= fromDate && currentDate < endDate && data.status == @((int)SurveyRoundStatus.Closed)) {
                            return '<span class="badge badge-pill badge-secondary">Đóng tạm</span>';
                        } else if (currentDate > endDate && data.status != @((int)SurveyRoundStatus.End)) {
                            return '<span class="badge badge-pill badge-secondary">Đóng</span>';
                        } else {
                            return '<span class="badge badge-pill badge-secondary">Kết thúc</span>';
                        }
                    }
                },
                {
                    data: null,
                    mRender: function (data, type, row) {
                        let html = '';
                        let regex = /(\d+)/g;
                        let fromDate = new Date(+data.fromDate.match(regex)[0]);
                        let endDate = new Date(+data.endDate.match(regex)[0]);
                        let currentDate = new Date();

                        if (currentDate < fromDate) {
                            html += `<button class="btn btn btn-outline-success btn-sm ml-1 mr-1" onclick="updateClick('${data.id}')">Sửa</button>`;
                            html += `<button class="btn btn btn-outline-danger btn-sm ml-1 mr-1" onclick="deleteClick('${data.id}')">Xoá</button>`;
                        } else if (currentDate >= fromDate && currentDate < endDate && (data.status == @((int)SurveyRoundStatus.Opened) || data.status == @((int)SurveyRoundStatus.New))) {
                            //html += `<button class="btn btn btn-outline-warning btn-sm ml-1 mr-1" onclick="closeClick('${data.id}')">Đóng tạm</button>`;
                            html += `<button class="btn btn btn-outline-info btn-sm ml-1 mr-1" title="Thống kê số lượng" onclick="xemThongKeTam('${data.id}', this)">T.kê s.lượng</button>`;
                            html += `<button class="btn btn btn-outline-primary btn-sm mr-1" title="báo cáo" onclick="exportReport('${data.id}')">K.xuất b.cáo</button>`;
                        } else if (currentDate >= fromDate && currentDate < endDate && data.status == @((int)SurveyRoundStatus.Closed)) {
                            //html += `<button class="btn btn btn-outline-primary btn-sm ml-1 mr-1" onclick="openClick('${data.id}')">Mở lại</button>`;
                            html += `<button class="btn btn btn-outline-info btn-sm ml-1 mr-1" title="Thống kê số lượng" onclick="xemThongKeTam('${data.id}', this)">T.kê s.lượng</button>`;
                            html += `<button class="btn btn btn-outline-primary btn-sm mr-1" title="báo cáo" onclick="exportReport('${data.id}')">K.xuất b.cáo</button>`;
                        } else if (currentDate > endDate && data.status != @((int)SurveyRoundStatus.End)) {
                            html += `<button class="btn btn btn-outline-info btn-sm ml-1 mr-1" title="Thống kê số lượng" onclick="xemThongKeTam('${data.id}', this)">T.kê s.lượng</button>`;
                            //html += `<button class="btn btn btn-outline-danger btn-sm ml-1 mr-1" onclick="deleteClick('${data.id}')">Xoá</button>`;
                        }
                        //html += `<button class="btn btn btn-outline-warning btn-sm ml-1 mr-1" onclick="closeClick('${data.id}')">Kết thúc</button>`;
                        return html;
                    }
                }
            ]
        });
        $('#id-datatable_filter').hide();
        $("#btn-search").click(() => {
            table
                .column(0).search($("#name-search").val())
                .draw();
        });
        document.getElementById("footer").scrollIntoView();

        let saveChanges = $('#save-changes');
        saveChanges.click(function () {
            let form = $('#form-data');
            if (form.valid()) {
                let url;
                if (saveChanges.attr('type-handle') === 'create') {
                    url = '/Survey/CreateGraduateSurveyRound';
                } else if (saveChanges.attr('type-handle') === 'update') {
                    url = '/Survey/UpdateGraduateSurveyRound';
                }
                $.ajax({
                    data: getFormData('#form-data'),
                    dataType: 'json',
                    method: 'Post',
                    url: url,
                    complete: () => { }
                }).done(function (res) {
                    if (res.statusCode === 200) {
                        toastSuccess('Lưu thành công');
                        table.ajax.reload();
                        $('#modal-input').modal('hide');
                    }
                    else {
                        try {
                            let content = JSON.parse(res.content);
                            toastError(content.message);
                        } catch {
                            toastError('Có lỗi xảy ra');
                        }
                        console.log(res);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + ': ' + errorThrown);
                    console.log(jqXHR);
                });
            }
        });

        function createClick() {
            $('#modal-input').modal('show');
            $('#modal-title').html('Thêm đợt khảo sát');
            saveChanges.attr('type-handle', 'create');
        }

        function updateClick(id) {
            $('#modal-input').modal('show');
            $('#modal-title').html('Cập nhật đợt khảo sát');
            saveChanges.attr('type-handle', 'update');
            $.ajax({
                dataType: 'json',
                method: 'Get',
                url: `/Survey/GetGraduateSurveyRoundById?id=${id}`,
                timeout: 0,
                complete: () => { }
            }).done(function (res) {
                if (res.statusCode === 200) {
                    if (res.content != "") {
                        let content = JSON.parse(res.content);
                        fillFormData('#form-data', content);
                    }
                }
                else {
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        }

        function closeClick(id) {
            $('#modal-yes-no-close').modal('show');
            $('#close-id').val(id);
        }

        $('#choose-yes-close').click(function () {
            $.ajax({
                data: { id: $('#close-id').val() },
                dataType: 'json',
                method: 'Post',
                url: '/Survey/CloseGraduateSurveyRound',
                complete: () => { }
            }).done(function (res) {
                if (res.statusCode === 200) {
                    table.ajax.reload();
                    $('#modal-yes-no-close').modal('hide');
                }
                else {
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        });

        function deleteClick(id) {
            $('#modal-yes-no').modal('show');
            $('#delete-id').val(id);
        }

        $('#choose-yes').click(function () {
            $.ajax({
                data: { id: $('#delete-id').val() },
                dataType: 'json',
                method: 'Post',
                url: '/Survey/DeleteGraduateSurveyRound',
                complete: () => { }
            }).done(function (res) {
                if (res.statusCode === 200) {
                    toastSuccess('Xoá thành công');
                    table.ajax.reload();
                    $('#modal-yes-no').modal('hide');
                }
                else {
                    toastError('Có lỗi xảy ra');
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        });
    </script>
    <script>
        function xemThongKeTam(id) {
            $('#loading-screen').show();
            $.ajax({
                dataType: 'json',
                method: 'Get',
                url: `/Survey/GetTempDataGraduateSurvey?id=${id}`,
                timeout: 0,
                complete: () => { }
            }).done(function (res) {
                $('#loading-screen').hide();
                if (res.statusCode === 200) {
                    let str = '';
                    let lstData = JSON.parse(res.content);
                    lstData.forEach(item => {
                        str += `<tr>
                            <td class="text-center">${item.maKhoa}</td>
                            <td class="">${item.tenKhoa}</td>
                            <td class="text-center">${item.soPhieuPhatRa}</td> 
                            <td class="text-center">${item.soPhieuThuVe}</td>
                            <td class="text-center">${item.tyLeThamGia}</td>
                        </tr>`;
                    });
                    $('#tbody-thong-ke-tam').html(str);
                    $('#modal-thong-ke').modal('show');
                }
                else {
                    try {
                        let content = JSON.parse(res.content);
                        toastError(content.message);
                    }
                    catch {
                        console.log(res);
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#loading-screen').hide();
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        }
    </script>
    <script>
        function exportReport(surveyRoundId) {
            $('#loading-screen').show();
            $.ajax({
                dataType: 'json',
                method: 'Get',
                url: '/Survey/ExportReportTotalGraduateSurvey',
                data: { surveyRoundId },
                timeout: 0,
                complete: () => { }
            }).done(function (res) {
                $('#loading-screen').hide();
                if (res.statusCode === 200) {
                    $('#modal-export-report').modal('hide');
                    window.open(res.content.url, "_blank");
                }
                else {
                    try {
                        let content = JSON.parse(res.content);
                        toastError(content.message);
                    } catch {
                        toastError('Có lỗi xảy ra');
                    }
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#loading-screen').hide();
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        }
    </script>
}
