@{
    ViewBag.Title = "Quản lý dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid service-categories-wrp">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 p-1 service-avatar-wrp cursor-pointer">
            <a href="./qlydichvu-giayxacnhan.html"
                class="row justify-content-center">
                <img src="~/content/images/services/giay-xac-nhan.jpg"
                        alt="service"
                        class="service-avatar col-10" />
                <div class="col-12 mt-2 text-center text-uppercase main-color fw-600 font-14-sm font-18-md font-18 title-service">
                    dịch vụ xin giấy xác nhận
                </div>
                <div class="col-12">
                    <hr class="w-100 line mt-2 mb-2" />
                </div>
                <div class="col-10 text-decoration-none">
                    <div class="row">
                        <div class="col-6 text-right">
                            Tổng số: <span class="main-color">@(Model[1].tongSo)</span>
                        </div>
                        <div class="col-6 text-left">
                            Mới gửi: <span class="main-color">@(Model[1].moiGui)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">
                            Đang xử lý: <span class="main-color">@(Model[1].dangXuLy)</span>
                        </div>
                        <div class="col-6 text-left">
                            Đã xử lý xong: <span class="main-color">@(Model[1].daXuLy)</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-xl-4 p-1 service-avatar-wrp cursor-pointer">
            @*<a href="./qlydichvu-giaygioithieu.html"
                class="row justify-content-center">
                <img src="~/content/images/services/Giay-Gioi-Thieu-Max-Quality.jpg"
                        alt="service"
                        class="service-avatar col-10" />
                <div class="col-10 mt-2 text-center text-uppercase main-color fw-600 font-14-sm font-18-md font-18 title-service">
                    dịch vụ xin giấy giới thiệu
                </div>
                <div class="col-12">
                    <hr class="w-100 line mt-2 mb-2" />
                </div>
                <div class="col-10 text-decoration-none">
                    <div class="row">
                        <div class="col-6 text-right">
                            Tổng số: 
                            <span class="main-color">
                                @(Model[2].tongSo)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Mới gửi: 
                            <span class="main-color">
                                @(Model[2].moiGui)
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">
                            Đang xử lý: 
                            <span class="main-color">
                                @(Model[2].dangXuLy)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Đã xử lý xong: 
                            <span class="main-color">
                                @(Model[2].daXuLy)
                            </span>
                        </div>
                    </div>
                </div>
            </a>*@
        </div>
        <div class="col-12 col-md-6 col-xl-4 p-1 service-avatar-wrp cursor-pointer">
            <a href="./qlydichvu-caplaithe.html"
                class="row justify-content-center">
                <img src="~/content/images/services/VAY_VON.jpg"
                        alt="service"
                        class="service-avatar col-10" />
                <div class="col-10 mt-2 text-center text-uppercase main-color fw-600 font-14-sm font-18-md font-18 title-service">
                    vay vốn ngân hàng chính sách - xã hội
                </div>

                <div class="col-12">
                    <hr class="w-100 line mt-2 mb-2" />
                </div>
                <div class="col-10 text-decoration-none">
                    <div class="row">
                        <div class="col-6 text-right">
                            Tổng số: 
                            <span class="main-color">
                                @(Model[6].tongSo)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Mới gửi: 
                            <span class="main-color">
                                @(Model[6].moiGui)
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">
                            Đang xử lý: 
                            <span class="main-color">
                                @(Model[6].dangXuLy)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Đã xử lý xong: 
                            <span class="main-color">
                                @(Model[6].daXuLy)
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-xl-4 p-1 service-avatar-wrp cursor-pointer">
            <a href="./qlydichvu-uudaigiaoduc.html"
                class="row justify-content-center">
                <img src="~/content/images/services/Uu-dai-giao-duc-Max-Quality.jpg"
                        alt="service"
                        class="service-avatar col-10" />
                <div class="col-10 mt-2 text-center text-uppercase main-color fw-600 font-14-sm font-18-md font-18 title-service">
                    ưu đãi trong giáo dục
                </div>
                <div class="col-12">
                    <hr class="w-100 line mt-2 mb-2" />
                </div>
                <div class="col-10 text-decoration-none">
                    <div class="row">
                        <div class="col-6 text-right">
                            Tổng số: 
                            <span class="main-color">
                                @(Model[4].tongSo)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Mới gửi: 
                            <span class="main-color">
                                @(Model[4].moiGui)
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">
                            Đang xử lý: 
                            <span class="main-color">
                                @(Model[4].dangXuLy)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Đã xử lý xong: 
                            <span class="main-color">
                                @(Model[4].daXuLy)
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-xl-4 p-1 service-avatar-wrp cursor-pointer">
            <a href="./qlydichvu-muonhocbagoc.html"
                class="row justify-content-center">
                <img src="~/content/images/services/KTX.jpg"
                        alt="service"
                        class="service-avatar col-10" />
                <div class="col-10 mt-2 text-center text-uppercase main-color fw-600 font-14-sm font-18-md font-18 title-service">
                    Thuê KTX Pháp Vân - Tứ Hiệp
                </div>
                <div class="col-12">
                    <hr class="w-100 line mt-2 mb-2" />
                </div>
                <div class="col-10 text-decoration-none">
                    <div class="row">
                        <div class="col-6 text-right">
                            Tổng số: 
                            <span class="main-color">
                                @(Model[7].tongSo)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Mới gửi: 
                            <span class="main-color">
                                @(Model[7].moiGui)
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">
                            Đang xử lý: 
                            <span class="main-color">
                                @(Model[7].dangXuLy)
                            </span>
                        </div>
                        <div class="col-6 text-left">
                            Đã xử lý xong: 
                            <span class="main-color">
                                @(Model[7].daXuLy)
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>