@page
@model nuce.web.manager.Pages.Admin.Survey.AnswerModel
@{
    ViewData["Title"] = "Danh sách đáp án";
}

<div class="col-md-12 col-xs-12">
    <div class="form_dk">
        <b>Danh sách đáp án của câu hỏi:</b>
        <br />
        @Model.QuestionContent
        <div class="row">
            <div class="col-md-12">
                <a href='/admin/survey/createanswer?questionId=@Model.QuestionId'>Thêm mới</a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã</th>
                    <th>Nội dung</th>
                    <th>Thứ tự</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Answers.Count; i++)
                {
                    <tr>
                        <td>
                            @(i + 1)
                        </td>
                        <td>
                            @Model.Answers[i].dapAnId
                        </td>
                        <td>
                            @Model.Answers[i].content
                        </td>
                        <td>
                            @Model.Answers[i].order
                        </td>
                        <td>
                            <a href='/admin/survey/editanswer?id=@Model.Answers[i].id&questionId=@Model.Answers[i].cauHoiGId'>Sửa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
